.sections-delete-section-btn-mrg-left {
    font-size: large;
    margin-left: 20px;
    line-height: 40px;
}

.table {
    outline: 1px solid govuk-colour("mid-grey");
}

.separator {
    border-left: 1px solid govuk-colour("mid-grey");
    padding: 7px;
    @media (max-width: 640px) {
        display: none;
    }
}   

.button {
    bottom: 7px;
    min-width: 72px;
    @media (max-width: 640px) {
        display: block;
        margin-top: 7px;
    }
}

