@import '~govuk-frontend/govuk/helpers/colour';

.caption {
    background-color: govuk-colour("light-grey");
}

.table {
    outline: 1px solid govuk-colour("mid-grey");
}

.separator {
    border-left: 1px solid govuk-colour("mid-grey");
    padding: 7px;
    @media (max-width: 640px) {
        display: none;
    }
}   

.b {
    bottom: 7px;
    min-width: 72px;
    @media (max-width: 640px) {
        display: block;
        margin-top: 7px;
    }
}

