@import '~govuk-frontend/govuk/settings/colours-applied';

.gap-table-cell-top-border {
  border-top: 1px solid $govuk-border-colour;
}

.gap-thead-static-position {
  position: static !important;
}

.gap-table-caption-link {
  font-weight: 100;
  float: right;
}

.gap-table-cell-wrap-text {
  word-break: break-word;
}

.disable-bottom-row-border {
  border-bottom: none !important;
}
