@import '~govuk-frontend/govuk/base';
@import '~govuk-frontend/govuk/core/global-styles.scss';

.card {
  background-color: govuk-colour('light-grey');
  padding: 0.75rem 1.5rem 0.1rem 0.75rem;
}

@media only screen and (max-width: 801px) {
  .card {
    padding: 0.75rem;
    margin-bottom: 0.5rem;
  }
}
