@import '~govuk-frontend/govuk/helpers/colour';

.button {
    bottom: 7px;
    min-width: 72px;
}

.question-controls {
    display: flex;
    justify-content: center;
}

  
@media (max-width: 640px) {
    .question-controls {
        flex-wrap: wrap;
    }
}