@import '~govuk-frontend/govuk/base';
@import '~govuk-frontend/govuk/core/global-styles.scss';

.float-right {
  float: right;
}

.super-admin-link {
  display: block;
  white-space: pre;
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .super-admin-link {
    display: none;
  }
}
